<div>
    <img src="" alt="">
    <h2>Booking Hotel Murah Online dengan Harga Promo</h2>
</div>
<div>
    <div>
        <p>Tujuan</p>
        <mat-form-field>
            <mat-label>Tujuan</mat-label>
            <mat-select [(ngModel)]="locationValue" style="background-color: white;" #locationSelect>
                <mat-option *ngFor="let i of locationToView" value={{i}}> {{i}} </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <p>Check-in</p>
        <input matInput [matDatepicker]="checkIn" placeholder="Choose a date" (click)="checkIn.open()">
        <mat-datepicker-toggle matSuffix [for]="checkIn">
        </mat-datepicker-toggle>
        <mat-datepicker #checkIn></mat-datepicker>
    </div>
    <div>
        <p>Check-out</p>
        <input matInput [matDatepicker]="checkOut" placeholder="Choose a date" (click)="checkOut.open()">
        <mat-datepicker-toggle matSuffix [for]="checkOut">
        </mat-datepicker-toggle>
        <mat-datepicker #checkOut></mat-datepicker>
    </div>
    <div>
        <p>Tamu & Kamar</p>        
    </div>
</div>
<div>
    <button id="search-btn" (click)="getHotelByLocation()">CARI HOTEL</button>
</div>