<div class="widget-pesawat">
    <div style="width: 50%;">
        <h2>Pilih Penerbangan Pergi</h2>
        <div style="display: flex; justify-content: space-between;">
                <mat-form-field>
                    <mat-label>From</mat-label>
                    <mat-select [(ngModel)]="fromChangeLocation">
                        <mat-option *ngFor="let i of fromLocation" value={{i.City}}>
                            {{ i.City }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>To</mat-label>
                    <mat-select [(ngModel)]="toChangeLocation">
                        <mat-option *ngFor="let i of toLocation" value={{i.City}}>
                            {{ i.City }}
                        </mat-option>                    
                    </mat-select>
                </mat-form-field>
        </div>
    </div>
    <div id="change-search" (click)="changeSearch()">
        UBAH PENCARIAN
    </div>
</div>
<div class="container">
    <div style="position: absolute; margin-top: 10vh; z-index: -1;" id="calendar">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="btn-group">
                <div
                    class="btn btn-primary"
                    mwlCalendarPreviousView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()"
                >
                    Previous
                </div>
                <div
                    class="btn btn-outline-secondary"
                    mwlCalendarToday
                    [(viewDate)]="viewDate"
                >
                    Today
                </div>
                <div
                    class="btn btn-primary"
                    mwlCalendarNextView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()"
                >
                    Next
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
        </div>
        <br />
        <div [ngSwitch]="view">
        <mwl-calendar-month-view
            *ngSwitchCase="CalendarView.Month"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
            *ngSwitchCase="CalendarView.Week"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
            *ngSwitchCase="CalendarView.Day"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-day-view>
        </div>
    </div>
    <div class="left-panel">
        <div>
            Transit
            <div *ngFor="let i of transitFilter" class="check-box-field">
                <mat-checkbox [(ngModel)]="i.checked"> {{ i.label }} </mat-checkbox>
            </div>
            <button (click)="resetFilter()">Reset</button>
        </div>
        <div>
            Berangkat
            <div *ngFor="let i of departureTimes" class="check-box-field">
                <mat-checkbox [(ngModel)]="i.checked"> {{ i.label }} </mat-checkbox>
            </div>
        </div>
        <div>
            Tiba
            <div *ngFor="let i of arrivalTimes" class="check-box-field">
                <mat-checkbox [(ngModel)]="i.checked"> {{ i.label }} </mat-checkbox>
            </div>
        </div>
        <div>
            Maskapai
            <div *ngFor="let i of airlineList" class="check-box-field">
                <mat-checkbox [(ngModel)]="i.checked"> {{ i.airline }} </mat-checkbox>
            </div>
        </div>
        <div>
            Fasilitas
            <div *ngFor="let i of facilityFilter" class="check-box-field">
                <mat-checkbox [(ngModel)]="i.checked"> {{ i.facility }} </mat-checkbox>
            </div>
        </div>
    </div>
    <div class="parentFlightContainer">
        <div>
            <button (click)="openCalendar()">Open Calendar</button>
        </div>
        <select name="" id="" [(ngModel)]="sortBy" (click)="sort()">
            <option value="rekomendasi" selected>Rekomendasi</option>
            <option value="harga-terendah">Harga Terendah</option>
            <option value="keberangkatan-awal">Keberangkatan Paling Awal</option>
            <option value="keberangkatan-akhir">Keberangkatan Paling Akhir</option>
            <option value="kedatangan-awal">Kedatangan Paling Awal</option>
            <option value="kedatangan-akhir">Kedatangan Paling Akhir</option>
            <option value="durasi">Durasi Tercepat</option>
        </select>
        <div *ngFor="let i of displayedFlightData; let idx = index;" class="flightContainer">
            <div *ngIf="checkValidation(idx)" class="flightsDatas">
                <div matTooltip={{i.Airline.Name}}>
                    {{ i.Airline.Name }}
                </div>
                <div class="flightTimeData">
                    <h3>
                        Departure : {{ i.Departure | date:'HH:mm':'z' }} ( {{ i.From.City }} )
                    </h3>
                    <h3>
                        Arrival : {{ i.Arrival | date:'HH:mm':'z' }} ( {{ i.To.City }} )
                    </h3>
                    <h3>
                        Duration : {{ i.Duration }} minutes
                    </h3>
                    <h3>
                        IDR {{ i.Price }}
                    </h3>
                </div>
                <hr>
                <div id="bottom-panel">
                    <div id="detail-tab">
                        <div class="detail-button" (click)="showDetail('penerbangan', idx)">
                            Detail Penerbangan
                        </div>
                        <div class="detail-button" (click)="showDetail('harga', idx)">
                            Detail Harga
                        </div>
                    </div>
                    <div id="pesan-button" (click)="toCheckout(idx)">
                        PESAN
                    </div>
                </div>
                <hr>
                <div *ngIf="detailString[idx] != '' ">
                    <div *ngIf="detailString[idx] == 'penerbangan'">
                        <div *ngIf="i.Routes.length != 0">
                            <div *ngIf="detailString[idx] == 'penerbangan'">
                                <div *ngFor="let item of i.Routes">
                                    From : {{ item.AirportFrom.Name }}
                                    <br>
                                    Duration : {{ item.Duration }}
                                    <br>
                                    To : {{ item.AirportTo.Name }}
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="i.Routes.length == 0">
                            <div *ngIf="detailString[idx] == 'penerbangan'">
                                <div>
                                    From : {{ i.From.Name }}
                                    <br>
                                    Duration : {{ i.Duration }}
                                    <br>
                                    To : {{ i.To.Name }}
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="detailString[idx]=='harga'">
                        Dewasa (1x) {{ i.Price }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>