.flightContainer
    display: flex
    background-color: lightgray
    flex-direction: column
    width: 80vw

.parentFlightContainer
    display: flex
    background-color: white
    flex-direction: column
    margin: 50px

.flightTimeData
    display: flex
    justify-content: space-around

.check-box-field
    background-color: white
    :hover
        background-color: lightblue

.container
    display: flex
    justify-content: space-around

.flightsDatas
    margin: 10px 0px
    background-color: white

.left-panel
    margin-top: 50px
    margin-left: 20px

#detail-tab
    display: flex
    justify-content: space-around
    width: 40%

.detail-button
    cursor: pointer

#pesan-button, #change-search
    background-color: yellow
    color: blue
    border-radius: 50px
    width: 20%
    padding: 10px 0px
    text-align: center
    cursor: pointer

#bottom-panel
    display: flex
    justify-content: space-between

.widget-pesawat
    display: flex
    justify-content: space-between
    background-color: #fff
    padding: 0 10vw
    align-items: center

.btn-group
    display: flex
    width: 30vw
    justify-content: space-around

.text-center
    display: flex
    justify-content: space-between
    align-items: center
    background-color: white

#calendar
    background-color: white
    width: 80vw
    margin: 85px


