<div style="display: flex; flex-direction: column;">
    <div style="display: flex;" class="changeSearchDiv">
        <div style="display: flex; flex-direction: column; width: 60%;">
            <h2>Pilih Sewa Mobil</h2>
            <div style="width: 100%;">
                <div style="display: flex; justify-content: space-around; width: 100%; align-items: center;">
                    <div>
                        <mat-form-field>
                            <mat-select [(ngModel)]="fromValue" style="background-color: white;" #fromLocationSelect>
                                <mat-option *ngFor="let i of cityList" value={{i.City}}> {{ i.City }} </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        Tanggal Mulai
                        <input matInput [matDatepicker]="start" placeholder="Choose a date" (click)="start.open()" [(ngModel)]="fromDate">
                        <mat-datepicker-toggle matSuffix [for]="start">
                        </mat-datepicker-toggle>
                        <mat-datepicker #start></mat-datepicker>
                    </div>
                </div>
            </div>
        </div>
        <div id="change-search" (click)="changeSearch()">
            UBAH PENCARIAN
        </div>
    </div>
    <div class="container">
        <mat-accordion class="left-panel" [multi]="true">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>Kapasitas Penumpang</mat-expansion-panel-header>
                <div *ngFor="let i of passengerFilter" class="check-box-field">
                    <mat-checkbox [(ngModel)]="i.checked"> {{ i.label }} </mat-checkbox>
                </div>
                <button (click)="resetFilter()">Reset</button>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>Merek Mobil</mat-expansion-panel-header>
                <div *ngFor="let i of brandFilter" class="check-box-field">
                    <mat-checkbox [(ngModel)]="i.checked"> {{ i.label }} </mat-checkbox>
                </div>
                <div (click)="showMoreMerek()" *ngIf="totalMerekFilter > 5">
                    SHOW MORE
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>Model</mat-expansion-panel-header>
                <div *ngFor="let i of modelFilter" class="check-box-field">
                    <mat-checkbox [(ngModel)]="i.checked"> {{ i.label }} </mat-checkbox>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <div class="parentFlightContainer">
            <select name="" id="" [(ngModel)]="sortBy" (click)="sort()">
                <option value="rekomendasi" selected>Rekomendasi</option>
                <option value="harga-terendah">Harga Terendah</option>
                <option value="harga-tertinggi">Harga Tertinggi</option>
            </select>
            <div *ngFor="let i of displayedCarData; let idx = index;" class="flightContainer">
                <div *ngIf="checkValidation(idx)" class="flightsDatas">
                    <div style="display: flex;">
                        <img src="../../../../../assets/ehyYNK6.png" alt="" style="width: 150px; height: 150px;">
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <div style="margin: 5px;">
                                <div (click)="showVendors(idx)" style="cursor:pointer;" matTooltip="{{i.Brand}} {{i.Model}}">
                                    <h2> {{ i.Brand }} {{ i.Model }} </h2>
                                </div>
                                <div>
                                    Maksimal Penumpang : {{ i.Passenger }}
                                    Bagasi : {{ i.Luggage }}
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: column; justify-content: space-around;">
                                <div class="flightTimeData">
                                    {{ priceList[idx] | currency: 'IDR'}} / hari
                                </div>
                                <div id="pesan-button" (click)="showVendors(idx)">
                                    PILIH
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>