<div class="widget-pesawat">
    <div class="search-bar">
        <h2>Pilih Kereta Pergi</h2>
        <div>
            <div style="display: flex; width: 100%; justify-content: space-between;">
                <div>
                    <mat-form-field>
                        <mat-select [(ngModel)]="fromValue" style="background-color: white;" #fromLocationSelect>
                            <mat-option *ngFor="let i of fromLocationToView" value={{i}}> {{i}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-select [(ngModel)]="toValue" style="background-color: white;" #fromLocationSelect>
                            <mat-option *ngFor="let i of toLocationToView" value={{i}}> {{i}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div id="change-search" (click)="changeSearch()">
        UBAH PENCARIAN
    </div>
</div>
<div class="container">
    <div style="position: absolute; margin-top: 12vh; z-index: -1;" id="calendar">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="btn-group">
                <div
                    class="btn btn-primary"
                    mwlCalendarPreviousView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()"
                >
                    Previous
                </div>
                <div
                    class="btn btn-outline-secondary"
                    mwlCalendarToday
                    [(viewDate)]="viewDate"
                >
                    Today
                </div>
                <div
                    class="btn btn-primary"
                    mwlCalendarNextView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()"
                >
                    Next
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
        </div>
        <br />
        <div [ngSwitch]="view">
        <mwl-calendar-month-view
            *ngSwitchCase="CalendarView.Month"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
            *ngSwitchCase="CalendarView.Week"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
            *ngSwitchCase="CalendarView.Day"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-day-view>
        </div>
    </div>
    <div class="left-panel">
        <mat-expansion-panel>
            <mat-expansion-panel-header>Departure</mat-expansion-panel-header>
            <div *ngFor="let i of departureTimes" class="check-box-field">
                <mat-checkbox [(ngModel)]="i.checked"> {{ i.label }} </mat-checkbox>
            </div>
            <button (click)="resetFilter()">Reset</button>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header> Kelas </mat-expansion-panel-header>
            <div *ngFor="let i of kelasList" class="check-box-field">
                <mat-checkbox [(ngModel)]="i.checked"> {{ i.class }} </mat-checkbox>
            </div>
            <button (click)="resetFilter()">Reset</button>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header> Nama Kereta </mat-expansion-panel-header>
            <div *ngFor="let i of nameFilter" class="check-box-field">
                <mat-checkbox [(ngModel)]="i.checked"> {{ i.name }} </mat-checkbox>
            </div>
            <button (click)="resetFilter()">Reset</button>
        </mat-expansion-panel>        
    </div>
    <div class="parentFlightContainer">
        <button (click)="openCalendar()">Open Calendar</button>
        <div *ngFor="let i of displayedTrainData; let idx = index;" class="flightContainer">
            <div *ngIf="checkValidation(idx)" class="flightsDatas">
                <div matTooltip={{i.Train.Name}}>
                    {{ i.Train.Name }}
                </div>
                <div class="flightTimeData">
                    <h3>
                        Departure : {{ i.Departure | date:'HH:mm':'z' }} ( {{ i.From.Location.City }} )
                    </h3>
                    <h3>
                        Arrival : {{ i.Arrival | date:'HH:mm':'z' }} ( {{ i.To.Location.City }} )
                    </h3>
                    <h3>
                        Flight Time : {{ i.Duration }} minutes
                    </h3>
                    <h3>
                        IDR {{ i.Price }}
                    </h3>
                </div>
                <hr>
                <div id="bottom-panel">
                    <div id="detail-tab">
                        <div class="detail-button" (click)="showDetail('perjalanan', idx)" style="display: flex; align-items: center;">
                            Detail Perjalanan
                        </div>
                        <div class="detail-button" (click)="showDetail('harga', idx)" style="display: flex; align-items: center;">
                            Detail Harga
                        </div>
                    </div>
                    <div id="pesan-button">
                        PILIH
                    </div>
                </div>
                <hr>
                <div *ngIf="detailString[idx] != '' ">
                    <div *ngIf="detailString[idx] == 'perjalanan'">
                        From : {{ i.To.Location.City }}
                        <br>
                        Duration : {{ i.Duration }}
                        <br>
                        To : {{ i.From.Location.City }}
                        <br>
                    </div>
                    <div *ngIf="detailString[idx]=='harga'">
                        Dewasa (1x) {{ i.Price }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>