    <div>
        <div id="img-container">
            <div (click)="leftClick()">
                <img src="../../../../../../../../assets/left.png" alt="" id="leftButton">
            </div>
            <div id="img-slider">
                <img src="../../../../../../../../assets/house.png" alt="">
            </div>
            <div (click)="rightClick()">
                <img src="../../../../../../../../assets/right.png" alt="" id="rightButton">
            </div>
        </div>
    </div>
