<div class="footer">
    <div class="container">
        <img src="../../../assets/logo.png" alt="" id="logo-img">
        <div class="contact">
            <img src="../../../assets/bubble-chat.jpg" alt="" id="contact-img">
            <div>
                <p>Whatsapp</p>
                <p>0855 1500 878</p>
            </div>
        </div>
        <div class="contact">
            <img src="../../../assets/email.jpg" alt="" id="contact-img">
            <div>
                <p>Email</p>
                <p>cs@tiket.com</p>
            </div>
        </div>
        <div class="contact">
            <img src="../../../assets/phone.jpg" alt="" id="contact-img">
            <div>
                <p>Call Center</p>
                <p>0804 1500 878 (Indonesia Only)</p>
                <p>+6221 3973 0888</p>
            </div>
        </div>
    </div>

    <div class="container">
        <h3>Perusahaan</h3>
        <p (click)="toBlog()">Blog</p>
        <a href="https://tiket.com">Karir</a>
        <a href="https://tiket.com">Corporate</a>
        <a href="https://tiket.com">Partner</a>
        <a href="https://tiket.com">Tix Point</a>
        <a href="https://tiket.com">Perlindungan</a>
        <a href="https://tiket.com">Cicilan</a>
        <a href="https://tiket.com">Daftarkan Hotel Anda</a>
    </div>

    <div class="container">
        <h3>Product</h3>
        <a href="https://tiket.com">Pesawat</a>
        <a href="https://tiket.com">Hotel</a>
        <a href="https://tiket.com">Kereta Api</a>
        <a href="https://tiket.com">Sewa Mobil</a>
        <a href="https://tiket.com">Hiburan</a>
    </div>

    <div class="container">
        <h3>Dukungan</h3>
        <a href="https://tiket.com">Pusat Bantuan</a>
        <a href="https://tiket.com">Syarat dan Ketentuan</a>
        <a href="https://tiket.com">Kebijakan dan Privasi</a>
        <a href="https://tiket.com">Tiket Anti Galau</a>
    </div>

    <div class="container">
        <h3>Download tiket.com app</h3>
        <a href="">
            <img src="" alt="">
        </a>
        <a href="">
            <img src="" alt="">
        </a>
    </div>
</div>

<div>
    
</div>