<div style="display: flex; justify-content: space-between;">
    <h2>Cari harga tiket pesawat murah & promo disini</h2>
    <p style="color: blue; cursor: pointer;" (click)="openHistory()">Pencarian Terakhir</p>
</div>
<div>
    <input type="radio" name="ticket-type" value="sekali-jalan"> Sekali Jalan
    <input type="radio" name="ticket-type" value="pulang-pergi"> Pulang - Pergi
</div>
<div>
    <mat-form-field>
        <mat-label>From</mat-label>
        <mat-select [(ngModel)]="fromValue" style="background-color: white;">
            <mat-option *ngFor="let i of flight" value={{i.City}}> {{i.City}} </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>To</mat-label>
        <mat-select [(ngModel)]="toValue" style="background-color: white;">
            <mat-option *ngFor="let i of flight" value={{i.City}}> {{i.City}} </mat-option>
        </mat-select>
    </mat-form-field>
    <div>
        Berangkat
        <input matInput [matDatepicker]="berangkat" placeholder="Choose a date" (click)="berangkat.open()" [(ngModel)]="fromDateValue">
        <mat-datepicker-toggle matSuffix [for]="berangkat">
        </mat-datepicker-toggle>
        <mat-datepicker #berangkat></mat-datepicker>
    </div>
    <div>
        Pulang
        <input matInput [matDatepicker]="pulang" placeholder="Choose a date" (click)="pulang.open()">
        <mat-datepicker-toggle matSuffix [for]="pulang">
        </mat-datepicker-toggle>
        <mat-datepicker #pulang></mat-datepicker>
    </div>
</div>
<div>
    <button id="search-btn" (click)="getFlight()">CARI PENERBANGAN</button>
</div>