.top-header
    display: flex
    justify-content: space-between
    background-color: silver

a
    text-decoration: none
    color: black
a:hover
    color: blue

.navbar
    display: flex
    justify-content: space-between
    width: 40%

.main-header
    display: flex
    justify-content: space-between
    align-items: center
    background-color: white
    div
        display: flex

.navigation
    display: flex
    justify-content: space-around
    width: 40vw
    align-items: center

#logo-img
    width: 20vw

#login-btn
    border: none
    background-color: transparant

.navbar-2
    width: 20%
    display: flex
    justify-content: space-around