<div class="top-header">
    <div class="navbar">
        <label>Unduh Aplikasi tiket.com</label>
        <label (click)="directToPromo()" style="cursor: pointer;">Promo</label>
        <label>Pusat Bantuan</label>
    </div>
    <div>
        <select name="" id="">
            <option value=""></option>
        </select>
        <select name="" id="">
            <option value="">IDR</option>
        </select>
    </div>
</div>

<div class="main-header">
    <div style="display: flex; justify-content: space-between;">
        <div style="background-image: url('../../../assets/logo.png'); background-size: contain; background-repeat: no-repeat; background-position: center;" id="logo-img" (click)="toHome()">
        </div>
        <div class="navigation">
            <label *ngIf="mainLanguage == 'ID'" href="" (click)="getFlight()">Pesawat</label>
            <label *ngIf="mainLanguage == 'ID'" href="">Hotel</label>
            <label *ngIf="mainLanguage == 'ID'" href="">Kereta Api</label>
            <label *ngIf="mainLanguage == 'ID'" href="">Sewa Mobil</label>
            <label *ngIf="mainLanguage == 'ID'" href="">Hiburan</label>
            <label *ngIf="mainLanguage == 'EN'" href="" (click)="getFlight()">Flight</label>
            <label *ngIf="mainLanguage == 'EN'" href="">Hotel</label>
            <label *ngIf="mainLanguage == 'EN'" href="">Trip</label>
            <label *ngIf="mainLanguage == 'EN'" href="">Rent Car</label>
            <label *ngIf="mainLanguage == 'EN'" href="">Entertainment</label>
        </div>
    </div>

    <div class="navbar-2">
        <a href="">
            Tix Point
        </a>
        <a href="">
            Cek Order
        </a>
        <button (click)='openLoginDialog()' id="login-btn" *ngIf="user == null">Login</button>
        <button (click)='openRegisterDialog()' id="register-btn" *ngIf="user == null">Register</button>
        <button *ngIf="user != null" (click)="toManage()"> {{ user[0].FrontName }} </button>
    </div>
</div>


