<div class="top-header">
    <div class="navbar">
        <a href="">Unduh Aplikasi tiket.com</a>
        <a href="">Promo</a>
        <a href="">Pusat Bantuan</a>
    </div>
    <div>
        <select name="" id="">
            <option value=""></option>
        </select>
        <select name="" id="">
            <option value="">IDR</option>
        </select>
    </div>
</div>

<div class="main-header">
    <div>
        <img src="../../../assets/logo.png" alt="" id="logo-img">
        <div class="navigation">
            <label href="" (click)="getFlight()">Pesawat</label>
            <label href="">Hotel</label>
            <label href="">Kereta Api</label>
            <label href="">Sewa Mobil</label>
            <label href="">Hiburan</label>
        </div>
    </div>

    <div class="navbar-2">
        <a href="">
            Tix Point
        </a>
        <a href="">
            Cek Order
        </a>
        <button (click)='openLoginDialog()' id="login-btn">Login</button>
        <button (click)='openRegisterDialog()' id="register-btn">Register</button>
    </div>
</div>


